* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 992px) {
  .contenedor .header {
    grid-area: header;
    font-family: "Cinzel Decorative", cursive;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233));
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #084298;
  }
  .contenedor .header .dropdown-item {
    color: rgb(238, 174, 202);
  }
  .contenedor .header a {
    text-decoration: none;
    color: #f1f1f1;
  }
  .contenedor .header a:hover {
    background-image: linear-gradient(to top right, black, #212529);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contenedor .header .nav-link {
    font-size: 1rem;
  }
  .encabezado {
    font-size: 3rem;
  }
  .encabezadoP {
    font-family: "Cinzel Decorative", cursive;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .contenedor .header {
    grid-area: header;
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233));
    display: flex;
    justify-content: center;
  }
  .contenedor .header .dropdown-item {
    color: rgb(238, 174, 202);
  }
  .contenedor .header a {
    text-decoration: none;
    color: #f1f1f1;
  }
  .encabezado {
    font-size: 3rem;
  }
  .encabezadoP {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .contenedor .header {
    grid-area: header;
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233));
    display: flex;
    justify-content: center;
  }
  .contenedor .header .dropdown-item {
    color: rgb(238, 174, 202);
  }
  .contenedor .header a {
    text-decoration: none;
    color: #f1f1f1;
  }
  .encabezadoP {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1 fr, 1fr, 0.75fr, 0.5fr);
    grid-auto-rows: repeat(4, auto);
    color: #212529;
    gap: 20px;
    width: 90%;
    max-width: 1280px;
    margin: 20px auto;
    grid-template-areas: "header header header header" "contenido contenido contenido logoDelProyecto" "footer footer footer footer";
  }
  .contenedor .contenedor div, .contenedor .header, .contenedor .contenido, .contenedor .sidebar, .contenedor .footer {
    padding: 20px;
    border-radius: 4px;
  }
  .contenedor .logoDelProyecto {
    grid-area: logoDelProyecto;
    width: auto;
    display: flex;
    height: 250px;
    margin-top: 250px;
    animation-name: logo;
    transition: all 3s ease-in-out;
  }
  .contenedor .logoDelProyecto:hover {
    transform: rotate(1turn);
    transform-origin: center center;
  }
  .contenido {
    display: flex;
  }
  .boton {
    margin-top: 5px;
  }
  p {
    font-family: "Playfair Display", serif;
  }
  .nav-link {
    position: relative;
  }
  .nav-link:after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
  }
  .nav-link:hover {
    background-image: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .boton-buscar {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233));
    font-family: "Tai Heritage Pro", serif;
    border: 0px;
    border-radius: 5px;
    margin: 2px;
    color: white;
    margin-top: 0;
    height: 2rem;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }
  .boton-buscar:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }
  .boton-buscar:active {
    transform: translateY(3px);
  }
  .navFex {
    flex-direction: row;
  }
  .flexPrinc {
    width: 60%;
    margin: 0 auto 0 0;
    padding-left: 0;
  }
  .navbar-expand-lg .navbar-collapse {
    width: 50% !important;
  }
  .form-control {
    width: 60%;
  }
  .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: flex-start !important;
  }
  .navbar-expand-lg .navbar-nav li {
    margin-right: 1rem;
  }
  .form-control {
    height: 1rem;
    padding: 1rem;
  }
  .d-flex {
    align-items: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1 fr, 1fr);
    grid-auto-rows: repeat(4, auto);
    gap: 20px;
    width: 90%;
    color: #212529;
    max-width: 1280px;
    margin: 20px auto;
    grid-template-areas: "header" "contenido" "sidebar" "footer";
  }
  .contenedor div, .header, .contenido, .sidebar, .footer {
    padding: 20px;
    border-radius: 4px;
  }
  .contenedor .logoDelProyecto img {
    display: none;
  }
}
.boton {
  margin-top: 5px;
}

p {
  font-family: "Playfair Display", serif;
}

.nav-link {
  position: relative;
}
.nav-link:after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
}
.nav-link .boton-buscar {
  background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
  border: 0px;
  border-radius: 5px;
  margin-top: 25px;
  color: white;
  font-weight: bold;
}
.nav-link .navFex {
  flex-direction: row;
}
.nav-link .flexPrinc {
  width: 60%;
  margin: 0 auto 0 0;
  padding-left: 0;
}
.nav-link .navbar-expand-lg .navbar-collapse {
  width: 50% !important;
}
.nav-link .form-control {
  width: 60%;
}
.nav-link .navbar-expand-lg .navbar-nav {
  width: 100%;
  justify-content: flex-start !important;
}
.nav-link .navbar-expand-lg .navbar-nav li {
  margin-right: 1rem;
}
.nav-link .form-control {
  height: 1rem;
  padding: 1rem;
}
.nav-link .d-flex {
  align-items: center;
}

@media screen and (max-width: 600px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1 fr, 1fr);
    grid-auto-rows: repeat(4, auto);
    gap: 20px;
    width: 90%;
    color: #212529;
    max-width: 1280px;
    margin: 20px auto;
    grid-template-areas: "header" "contenido" "sidebar" "footer";
  }
  .contenedor div, .header, .contenido, .sidebar, .footer {
    padding: 20px;
    border-radius: 4px;
  }
  .contenedor .logoDelProyecto img {
    display: none;
  }
  .boton {
    margin-top: 5px;
  }
  p {
    font-family: "Playfair Display", serif;
  }
  .nav-link {
    position: relative;
  }
  .nav-link:after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
  }
  .boton-buscar {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: white;
    font-weight: bold;
  }
  .navFex {
    flex-direction: row;
  }
  .flexPrinc {
    width: 60%;
    margin: 0 auto 0 0;
    padding-left: 0;
  }
  .navbar-expand-lg .navbar-collapse {
    width: 50% !important;
  }
  .form-control {
    width: 60%;
  }
  .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: flex-start !important;
  }
  .navbar-expand-lg .navbar-nav li {
    margin-right: 1rem;
  }
  .form-control {
    height: 1rem;
    padding: 1rem;
  }
  .d-flex {
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .carousel-item {
    height: 50em;
    width: 50em;
  }
  .morrison {
    height: 45em;
    width: 70em;
  }
  .crowley {
    height: 50em;
    width: 60em;
  }
  .jung {
    height: 60em;
    width: 60em;
  }
  .carousel-caption {
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
    color: #212529;
  }
  img, svg {
    width: 100%;
    overflow: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .carousel-item {
    height: 50em;
    width: 30em;
  }
  .morrison {
    height: 50em;
    width: 50em;
  }
  .crowley {
    height: 50em;
    width: 55em;
  }
  .jung {
    height: 60em;
    width: 55em;
  }
  .carousel-caption {
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
    color: #212529;
  }
}
@media screen and (min-width: 992px) {
  .contenido {
    grid-area: contenido;
  }
  .imgHover:hover {
    width: 100%;
    overflow: hidden;
    width: 100%;
  }
  .contCard {
    width: auto;
    overflow: none;
  }
  .contCard:hover .imgHover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .boton-leer-mas {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: #212529;
    font-weight: bold;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    text-decoration: none;
    padding: 5px;
  }
  .boton-leer-mas:hover {
    cursor: pointer;
    transform: translateY(-3px);
    color: #f1f1f1;
  }
  .boton-leer-mas:active {
    transform: translateY(3px);
  }
  .area-contenido {
    display: flex;
    flex-direction: column;
  }
  .aC1 {
    display: flex;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .contenedor .contenido {
    grid-area: contenido;
  }
  .boton-leer-mas {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: #212529;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
  }
}
@media screen and (max-width: 600px) {
  .contenedor .contenido {
    grid-area: contenido;
  }
  .boton-leer-mas {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: #212529;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
  }
}
@media screen and (min-width: 992px) {
  .contenedor.staff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-template-areas: "header header header header" "contenido contenido contenido contenido" "footer footer footer footer";
  }
  main > div {
    display: flex;
    justify-content: space-between;
  }
  .all-entry a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 0px;
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    border: 0px;
    border-radius: 5px;
    color: #212529;
    font-weight: bold;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    text-decoration: none;
    padding: 5px;
  }
  .all-entry a a {
    text-decoration: none;
    color: #212529;
  }
  .all-entry a:hover {
    cursor: pointer;
    transform: translateY(-3px);
    color: #f1f1f1;
  }
  .all-entry a:active {
    transform: translateY(3px);
  }
  .subtitulo {
    margin-bottom: 20px;
  }
  .subtitulo .subtituloStaff {
    display: inline-block;
    margin-left: 500px;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .all-entry {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: #212529;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
  }
}
@media screen and (max-width: 600px) {
  .all-entry {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: #212529;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
  }
}
@media screen and (min-width: 992px) {
  article .boton-formulario {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: #212529;
    outline: 0;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }
  article .boton-formulario:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }
  article .boton-formulario a {
    text-decoration: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  article .boton-formulario {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: #212529;
    outline: 0;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }
  article .boton-formulario:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }
  article .boton-formulario a {
    text-decoration: none;
  }
}
@media screen and (max-width: 600px) {
  article .boton-formulario {
    background: linear-gradient(to top right, rgb(238, 174, 202), rgb(148, 187, 233), rgb(238, 174, 202));
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: #212529;
    outline: 0;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }
  article .boton-formulario:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }
  article .boton-formulario a {
    text-decoration: none;
  }
}
@media screen and (min-width: 992px) {
  .sigil {
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
    padding: 150px;
    width: 108%;
  }
  .gen {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .resultado {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  button, input, optgroup, select, textarea {
    background-color: rgb(148, 187, 233);
    font-family: "Tai Heritage Pro", serif;
  }
  .sigilGenerator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .contenedor .sigil {
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  }
  .sigilGenerator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gen {
    margin-bottom: 40px;
  }
  .mb-3 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .contenedor .sigil {
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  }
  .sigilGenerator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    grid-area: footer;
    padding-left: 45px;
    color: black;
    font-family: "Tai Heritage Pro", serif;
  }
  .redesSociales {
    list-style: none;
    text-decoration: none;
  }
  .fb {
    width: 30px;
  }
  .fb:hover {
    -webkit-animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes fb {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  @keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  .tw {
    width: 30px;
  }
  .tw:hover {
    -webkit-animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes tw {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  @keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  .yt {
    width: 30px;
  }
  .yt:hover {
    -webkit-animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes yt {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  @keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  .derechos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .derechos {
    -webkit-animation: derechos 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: derechos 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  @-webkit-keyframes derechos {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes derechos {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .footer {
    grid-area: footer;
    padding-left: 45px;
    color: #212529;
    font-family: "Tai Heritage Pro", serif;
  }
  .footer .derechos {
    font-size: small;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    grid-area: footer;
    padding-left: 45px;
    color: #212529;
    font-family: "Tai Heritage Pro", serif;
  }
  .footer .derechos {
    font-size: small;
  }
}

/*# sourceMappingURL=style.css.map */
