*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** PALETA DE COLORES
BLanco: white
Blanco "Sucio" para fondo de section: #f1f1f1
Negro: black
Morado: #945CFA 
Morado oscuro: #482D7A
**/

/**FONT FAMILY
font-family: 'Cinzel Decorative', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Tai Heritage Pro', serif;
**/

/** Cinzel solo para LOGO. Llevaría al INDEX al hacer click sobre él. Por alguna razón solo se muestra en el index, en los demas html se muestra como si fuera comic sans**/ 

.contenedor{
  display: grid;
  grid-template-columns: repeat(1 fr, 1fr, 0.75fr, 0.5fr);
  grid-auto-rows: repeat(4, auto);
  gap: 20px;
  width: 90%;
  max-width: 1280px;
  margin: 20px auto;
  grid-template-areas: "header header header header"
                       "contenido contenido logoDelProyecto sidebar"
                       "footer footer footer footer";
                       
}
/** BODY DEL HOME **/

.contenedor div, .header, .contenido, .sidebar, .footer{    
padding: 20px;
border-radius: 4px;
}

.contenedor .header{
  grid-area: header;
  /**
  grid-column-start: 1;
  grid-column-end: span 4; **/
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #212529;
}
.contenedor .header ul li{
  color: black;
}
.contenedor .header:hover{
  color: #482D7A;
}

.contenedor .header:visited{
color: #482D7A;
}

.contenedor .contenido{
  grid-area: contenido;

  /**
  grid-column: 1; **/
}

.carousel-inner{
background-color: #212529;
}




/** LOGO DEL PROYECTO **/


.contenedor .logoDelProyecto img{

grid-area: logoDelProyecto;

color: blueviolet;

animation-name: logo;

transition: all 3s ease-in-out;

/**grid-column: 2; **/

}

.logoDelProyecto img:hover{

transform: rotate(1turn);

transform-origin: center center;

}

/** SIDEBAR **/

.contenedor .sidebar{
  grid-area: sidebar;
  /**
  grid-column: 4;
  grid-row: span 2; **/
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;    
  min-width: 100px;
  font-family: 'Tai Heritage Pro', serif;
}

ul li{
  text-decoration: none;
  list-style: none;
}
.contenedor .footer{
  grid-area: footer;
  padding-left: 45px;
  color: black;
  font-family: 'Tai Heritage Pro', serif;
  /** grid-column: span 4; **/
}

/** CONTACTO **/ 

article{
  background-color: #212529;
  color: white;
}

/** STAFF **/

.imgStaff:hover{
background-color: #212529;
}

/** FOOTER **/

.fb:hover{
  -webkit-animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
@-webkit-keyframes fb {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes scale-down-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

.tw:hover{
  -webkit-animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
@-webkit-keyframes tw {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes scale-down-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

.yt:hover{
  -webkit-animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
@-webkit-keyframes yt {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes scale-down-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

.derechos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.derechos:hover{
      -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  
}


@-webkit-keyframes derechos {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes derechos {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


@media screen and (max-width: 768px){
.contenedor ul li{
  color: white;
}
.contenedor{
  grid-template-areas: 
  "header"
  "logoDelProyecto"
  "contenido contenido"
  "footer sidebar";
}
img{
  align-items: center;
}
.contenedor .logoDelProyecto{
  display: flex;
  justify-content: center;
  align-items: center;
}
/**
.contenedor .contenido{
   grid-column: span 2;
}
.contenedor .header{
   grid-column: span 2;
}
.contenedor .logoDelProyecto{
   grid-row: 1 / 3;
} 
.contenedor .sidebar{
   grid-row: 1 / 4;
} **/
}

h2{
  text-align: center;
}

.boton{
  margin-top: 5px;
}

p{
  font-family: 'Playfair Display', serif;
}
/** BODY DEL CONTENIDO **/

.contenidoCajas div{
  margin-top: 15px;
}