* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 992px) {
  .contenedor .header {
    grid-area: header;
    font-family: "Cinzel Decorative", cursive;
    font-size: 30px;
    font-weight: bold;
    color: #f1f1f1;
    background-color: #212529;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .contenedor .header {
    grid-area: header;
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
    color: #212529;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .contenedor .header {
    grid-area: header;
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
    color: #212529;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1 fr, 1fr, 0.75fr, 0.5fr);
    grid-auto-rows: repeat(4, auto);
    color: #212529;
    gap: 20px;
    width: 90%;
    max-width: 1280px;
    margin: 20px auto;
    grid-template-areas: "header header header header" "contenido contenido logoDelProyecto sidebar" "footer footer footer footer";
  }
  .contenedor .contenedor div, .contenedor .header, .contenedor .contenido, .contenedor .sidebar, .contenedor .footer {
    padding: 20px;
    border-radius: 4px;
  }
  .contenedor .logoDelProyecto img {
    grid-area: logoDelProyecto;
    margin-top: 350px;
    height: 250px;
    animation-name: logo;
    transition: all 3s ease-in-out;
  }
  .contenedor .logoDelProyecto img:hover {
    transform: rotate(1turn);
    transform-origin: center center;
  }
  .sidebar {
    grid-area: sidebar;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 15px;
    font-family: "Tai Heritage Pro", serif;
  }
  .sidebar ul li {
    text-decoration: none;
    list-style: none;
  }
  h2 {
    text-align: center;
  }
  .boton {
    margin-top: 5px;
  }
  p {
    font-family: "Playfair Display", serif;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1 fr, 1fr);
    grid-auto-rows: repeat(4, auto);
    gap: 20px;
    width: 90%;
    color: #212529;
    max-width: 1280px;
    margin: 20px auto;
    grid-template-areas: "header" "contenido" "sidebar" "footer";
  }
  .contenedor div, .header, .contenido, .sidebar, .footer {
    padding: 20px;
    border-radius: 4px;
  }
  .contenedor .logoDelProyecto img {
    display: none;
  }
  .sidebar {
    grid-area: sidebar;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 15px;
    font-family: "Tai Heritage Pro", serif;
  }
  .sidebar ul li {
    text-decoration: none;
    list-style: none;
  }
  h2 {
    text-align: center;
  }
  .boton {
    margin-top: 5px;
  }
  p {
    font-family: "Playfair Display", serif;
  }
}
@media screen and (max-width: 600px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1 fr, 1fr);
    grid-auto-rows: repeat(4, auto);
    gap: 20px;
    width: 90%;
    color: #212529;
    max-width: 1280px;
    margin: 20px auto;
    grid-template-areas: "header" "contenido" "sidebar" "footer";
  }
  .contenedor div, .header, .contenido, .sidebar, .footer {
    padding: 20px;
    border-radius: 4px;
  }
  .contenedor .logoDelProyecto img {
    display: none;
  }
  .sidebar {
    grid-area: sidebar;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 15px;
    font-family: "Tai Heritage Pro", serif;
  }
  .sidebar ul li {
    text-decoration: none;
    list-style: none;
  }
  h2 {
    text-align: center;
  }
  .boton {
    margin-top: 5px;
  }
  p {
    font-family: "Playfair Display", serif;
  }
}
@media screen and (min-width: 992px) {
  .carousel-inner {
    background-color: #212529;
  }
}
@media screen and (min-width: 992px) {
  .contenido {
    grid-area: contenido;
  }
  .imgHover:hover {
    width: 100%;
  }
  .contCard:hover .imgHover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .contenedor .contenido {
    grid-area: contenido;
  }
}
@media screen and (max-width: 600px) {
  .contenedor .contenido {
    grid-area: contenido;
  }
}
@media screen and (min-width: 992px) {
  article {
    background-color: #212529;
    color: #f1f1f1;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  article {
    background-color: #212529;
    color: #f1f1f1;
  }
}
@media screen and (max-width: 600px) {
  article {
    background-color: #212529;
    color: #f1f1f1;
  }
}
@media screen and (min-width: 992px) {
  .sigil {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  }
  .sigilGenerator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .contenedor .sigil {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  }
  .sigilGenerator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .contenedor .sigil {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  }
  .sigilGenerator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    grid-area: footer;
    padding-left: 45px;
    color: black;
    font-family: "Tai Heritage Pro", serif;
  }
  .fb:hover {
    -webkit-animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes fb {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  @keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  .tw:hover {
    -webkit-animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes tw {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  @keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  .yt:hover {
    -webkit-animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes yt {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  @keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }
  .derechos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .derechos {
    -webkit-animation: derechos 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: derechos 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  @-webkit-keyframes derechos {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes derechos {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .footer {
    grid-area: footer;
    padding-left: 45px;
    color: #212529;
    font-family: "Tai Heritage Pro", serif;
  }
  .footer .derechos {
    font-size: small;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    grid-area: footer;
    padding-left: 45px;
    color: #212529;
    font-family: "Tai Heritage Pro", serif;
  }
  .footer .derechos {
    font-size: small;
  }
}

/*# sourceMappingURL=style.css.map */
