@media screen and (min-width: 992px){
    .sigil{
  background: radial-gradient(circle, $gradiente-start 0%, $gradiente-end 100%);
  padding: 150px;
  width: 100%;
  }
  .sigilGenerator{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px){
  .contenedor .sigil{
  background: radial-gradient(circle, $gradiente-start 0%, $gradiente-end 100%);
  
  }

  .sigilGenerator{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .gen{
    margin-bottom: 40px;
  }

  .mb-3{
    display: flex;
    flex-direction: column;
  }
  
}
@media screen and (max-width: 600px){
  .contenedor .sigil{
  background: radial-gradient(circle, $gradiente-start 0%, $gradiente-end 100%);
  }
  .sigilGenerator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}