@media screen and (min-width: 992px){
  .contenido{
    grid-area: contenido;
  }
  .imgHover:hover{
    width: 100%;
  }
  img, svg {
    overflow: hidden;
    width: 100%;
}
  .contCard{
  &:hover .imgHover{
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
}
.boton-leer-mas{
  background: linear-gradient(to top right, $gradiente-start, $gradiente-end, $gradiente-start);
  border: 0px;
  border-radius: 5px;
  margin-top: 25px;
  color: $negro;
  font-weight: bold;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  text-decoration: none;
  padding: 5px;
  &:hover{
    cursor: pointer;
    transform: translateY(-3px);
    color: $blanco;
  }
  &:active{
    transform: translateY(3px);
  }
}
}
@media screen and (min-width: 600px) and (max-width: 992px){
  .contenedor .contenido{
    grid-area: contenido;
  }
  .boton-leer-mas{
    background: linear-gradient(to top right, $gradiente-start, $gradiente-end, $gradiente-start);
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: $negro;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    
  }
}
@media screen and (max-width: 600px){
  .contenedor .contenido{
    grid-area: contenido;
  }
  .boton-leer-mas{
    background: linear-gradient(to top right, $gradiente-start, $gradiente-end, $gradiente-start);
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: $negro;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    
  }
}