@media screen and (min-width: 992px){
  .area-contenido{
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-template-areas: 
    "header header header header"
    "contenido contenido contenido contenido"
    "footer footer footer footer";
  }
  .imgHover{

    object-fit: cover;
    
    height: 100%;
    
    transition: all .5s ease-in-out;

    
    
    
    
  &:hover{
    @-webkit-keyframes scale-up-center {
      0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
    @keyframes scale-up-center {
      0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
  }
}
  
.contCard{
 padding: 0;
 overflow: hidden;
 &:hover .imgHover {
  
  transform: scale(1.3);
  
 }
 
}
.card-body{ 

  display: flex;
  
  flex-direction: column;
  
  justify-content: space-between;

  }
.contenedor .header .dropdown-item{
    
  text-shadow: 1px 1px black;
    
    }
.boton-leer-mas{
  background: linear-gradient(to top right, $gradiente-start, $gradiente-end, $gradiente-start);
  text-align: center;
  border: 0px;
  border-radius: 5px;
  margin-top: 25px;
  color: $negro;
  font-weight: bold;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  text-decoration: none;
  padding: 5px;
  &:hover{
    cursor: pointer;
    transform: translateY(-3px);
    color: $blanco;
  }
  &:active{
    transform: translateY(3px);
  }
}


.aC1{
  display: flex;
  justify-content: space-between;

}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
}

}
@media screen and (min-width: 600px) and (max-width: 992px){
  .contenedor .contenido{
    grid-area: contenido;
  }
  
  .imgHover{
    display: block;
    margin-left: 15px;
  }
  .boton-leer-mas{
    background: linear-gradient(to top right, $gradiente-start, $gradiente-end, $gradiente-start);
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: $negro;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    
  }
  
}
@media screen and (max-width: 600px){
  .contenedor .contenido{
    grid-area: contenido;
    line-height: 0;
  }

  .aC1{
    padding: 22px;
  }
 
  .boton-leer-mas{
    background: linear-gradient(to top right, $gradiente-start, $gradiente-end, $gradiente-start);
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    color: $negro;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    
  }
  
}
