@media screen and (min-width: 992px){
  .contenido{
    grid-area: contenido;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px){
  .contenedor .contenido{
    grid-area: contenido;
  }
}
@media screen and (max-width: 600px){
  .contenedor .contenido{
    grid-area: contenido;
  }
}